
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/compiler.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/workspace.xml
AmposTest.iml
target/classes/application.properties
target/classes/com/ampos/test/logic/Easy1.class
target/classes/com/ampos/test/logic/Easy2.class
target/classes/com/ampos/test/logic/Moderate1.class
target/classes/com/ampos/test/logic/Moderate2.class
target/classes/com/ampos/test/restaurant/Application.class
target/classes/com/ampos/test/restaurant/controller/BillController.class
target/classes/com/ampos/test/restaurant/controller/MenuController.class
target/classes/com/ampos/test/restaurant/model/Bill.class
target/classes/com/ampos/test/restaurant/model/common/OrderMenu.class
target/classes/com/ampos/test/restaurant/model/Menu.class
target/classes/com/ampos/test/restaurant/model/QBill.class
target/classes/com/ampos/test/restaurant/model/QMenu.class
target/classes/com/ampos/test/restaurant/model/req/OrderRequest.class
target/classes/com/ampos/test/restaurant/model/res/CheckBillRes.class
target/classes/com/ampos/test/restaurant/querydsl/BillPredicate.class
target/classes/com/ampos/test/restaurant/querydsl/BillPredicatesBuilder.class
target/classes/com/ampos/test/restaurant/querydsl/MenuPredicate.class
target/classes/com/ampos/test/restaurant/querydsl/MenuPredicatesBuilder.class
target/classes/com/ampos/test/restaurant/querydsl/SearchCriteria.class
target/classes/com/ampos/test/restaurant/repo/BillRepository.class
target/classes/com/ampos/test/restaurant/repo/MenuRepository.class
target/classes/com/ampos/test/restaurant/service/BillService.class
target/classes/com/ampos/test/restaurant/service/MenuService.class
target/classes/META-INF/AmposTest.kotlin_module
target/generated-sources/com/ampos/test/restaurant/model/QBill.java
target/generated-sources/com/ampos/test/restaurant/model/QMenu.java
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
